@{
    ViewData["Title"] = "Contact Us";
}

<h1>@ViewData["Title"]</h1>

<strong>Email us:</strong> <a href="mailto:email@rza.com">email@rza.com</a> <br />
<strong>Call us:</strong> <a>+44 1234567890</a>
